/* Header */
header {
    background-color: #222;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logo-header img {
    width: 50px;
}

.nav-menu ul {
    display: flex;
    align-items: center;
}

.nav-menu li {
    margin-right: 1rem;
}

.nav-menu a {
    color: #fff;
}

.nav-menu li:last-child {
    background: #4ad295;
    padding: .25rem .75rem;
    border-radius: .2rem;
}

.menu-icon img {
    width: 30px;
    height: 30px;
    border-radius: 2px;
}

.menu-icon, #check {
    display: none;
}

/* Cards Carousel */
.icon-cards {
    position: relative;
    width: 60vw;
    height: 40vw;
    max-width: 380px;
    max-height: 250px;
    margin: 0;
    color: white;
    perspective: 1000px;
    transform-origin: center;
}

.fixed-photos {
    position: fixed;
    top: 60px; /* Ajustar según la altura del header */
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}

.icon-cards__content {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: translateZ(-30vw) rotateY(0);
    animation: carousel 10s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

.icon-cards__content.step-animation {
    animation: carousel 8s infinite steps(1) forwards;
}

.icon-cards__item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 60vw;
    height: 40vw;
    max-width: 380px;
    max-height: 250px;
    box-shadow: 0 5px 20px rgba(0,0,0,.1);
    border-radius: 6px;
    transform-origin: center;
}

.icon-cards__item:nth-child(1) {
    background: #FDD94F;
    transform: rotateY(0) translateZ(35vw);
}

.icon-cards__item:nth-child(2) {
    background: #F87949;
    transform: rotateY(120deg) translateZ(35vw);
}

.icon-cards__item:nth-child(3) {
    background: #FBAB48;
    transform: rotateY(240deg) translateZ(35vw);
}

/* Carousel animation */
@keyframes carousel {
    0%,  17.5%  { transform: translateZ(-35vw) rotateY(0); }
    27.5%, 45%  { transform: translateZ(-35vw) rotateY(-120deg); }
    55%, 72.5%  { transform: translateZ(-35vw) rotateY(-240deg); }
    82.5%, 100% { transform: translateZ(-35vw) rotateY(-360deg); }
}

/* Demo styles */
html,
body {
    height: 100%;
    margin: 0;
    padding-top: 70px; /* Ajustar según la altura del header */
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #110F15;
}

/* Checkbox styles */
.checkbox {
    position: relative;
    margin-top: 2rem;
    font-size: .9rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #F47956;
    transition: color .3s ease;
    user-select: none;
}

.checkbox:hover {
    color: #F7A95A;
}

.checkbox__checkbox {
    position: relative;
    top: 0;
    width: 1.0625rem;
    height: 1.0625rem;
    background: white;
    border: 1px solid currentColor;
    border-radius: 4px;
    vertical-align: middle;
    transition: background 0.1s ease;
    cursor: pointer;
}

.checkbox__checkbox::after {
    content: '';
    position: absolute;
    top: 1px;
    left: 5px;
    width: 5px;
    height: 11px;
    opacity: 0;
    transform: rotate(45deg) scale(0);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transition: all 0.3s ease;
    transition-delay: 0.15s;
}

.checkbox__label {
    margin-left: 5px;
    vertical-align: middle;
    cursor: pointer;
}

.checkbox > input:checked ~ .checkbox__checkbox {
    border-color: transparent;
    background: #F47956;
    animation: jelly 0.6s ease;
}

.checkbox > input:checked ~ .checkbox__checkbox::after {
    opacity: 1;
    transform: rotate(45deg) scale(1);
}

/* Jelly checkbox animation */
@keyframes jelly {
    from { transform: scale(1, 1); }
    30% { transform: scale(1.25, 0.75); }
    40% { transform: scale(0.75, 1.25); }
    50% { transform: scale(1.15, 0.85); }
    65% { transform: scale(0.95, 1.05); }
    75% { transform: scale(1.05, 0.95); }
    to { transform: scale(1, 1); }
}
@import url('https://fonts.googleapis.com/css?family=Barlow:400,500,700');

$white: #fff;
$black: #2e2e2e;
$gray: #787878;
$highlight: #ea8478;
$footer: #f7f7f7;

* {
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}

body {
  font-family: 'Barlow', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  color: $gray;
  background: $white;
  text-rendering: optimizeLegibility;
}

ul li {
  margin: 0 1.5rem 0 0;
}

a {
  color: $gray;
  text-decoration: none;
  transition: all 0.2s ease;
  &:hover {
    color: $black;
  }
  &.active {
    color: $black;
  }
}

nav {
  padding: 2.5rem 0 2.5rem 0;
  ul {
    display: flex;
    justify-content: flex-start;
  }
  li {
    font-size: 1.25rem;
    &:nth-child(2) {
      margin: 0;
    }
  }
}

#highlight {
  color: $highlight;
  font-size: 1.25rem;
}

.gallery {
  padding: 0 0 4rem 0;
}

.img-container {
  width: 100%;
  height: 500px;
  cursor: pointer;
  overflow: hidden;
  &:hover .img-content-hover {
    display: block;
  }
}

img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}

.img-content-hover {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  display: none;
  padding: 1rem;
  background: $white;
  font-weight: 400;
  margin-top: 1.25rem;
  margin-left: -2rem;
}

.title {
  color: $black;
  font-size: 1.5rem;
  font-weight: 700;
}

.category {
  font-size: 1rem;
  color: $gray;
}

.img-content {
  display: none;
}

.social, .copyright {
  margin: 1rem;
}

.social li {
  display: inline-block;
}

footer {
  padding: 1rem 0;
  background: $footer;
  text-align: center;
}

@supports (display: grid) {
  .gallery .grid {
    grid-gap: 1rem;
  }
}

@media(min-width: $md) {
  nav ul {
    justify-content: flex-end;
  }
}

@media screen and (max-width: 1024px) {
  img:hover {
    transform: none;
  }
  
  .img-container {
    height: 100%;
    &:hover .img-content-hover {
      display: none;
    }
  }

  .img-content {
    display: block;
    padding: 1rem 0;
  }
}