/* CSS code */
@import url("https://fonts.googleapis.com/css?family=Montserrat:900");

/* Reset and Body Styles */
body {
    margin: 0;
    padding-top: 70px; /* Ajustar según la altura del header */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #110F15;
    height: 100%;
    overflow: hidden;
}

/* Header */
header {
    background-color: #222;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logo-header img {
    width: 50px;
}

.nav-menu ul {
    display: flex;
    align-items: center;
}

.nav-menu li {
    margin-right: 1rem;
}

.nav-menu a {
    color: #fff;
}

.nav-menu li:last-child {
    background: #4ad295;
    padding: .25rem .75rem;
    border-radius: .2rem;
}

.menu-icon img {
    width: 30px;
    height: 30px;
    border-radius: 2px;
}

.menu-icon, #check {
    display: none;
}

/* Cards Carousel */
.icon-cards {
    position: relative;
    width: 60vw;
    height: 40vw;
    max-width: 380px;
    max-height: 250px;
    margin: 0;
    color: white;
    perspective: 1000px;
    transform-origin: center;
}

.fixed-photos {
    position: fixed;
    top: 60px; /* Ajustar según la altura del header */
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}

.icon-cards__content {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: translateZ(-30vw) rotateY(0);
    animation: carousel 10s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

.icon-cards__content.step-animation {
    animation: carousel 8s infinite steps(1) forwards;
}

.icon-cards__item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 60vw;
    height: 40vw;
    max-width: 380px;
    max-height: 250px;
    box-shadow: 0 5px 20px rgba(0,0,0,.1);
    border-radius: 6px;
    transform-origin: center;
}

.icon-cards__item:nth-child(1) {
    background: #FDD94F;
    transform: rotateY(0) translateZ(35vw);
}

.icon-cards__item:nth-child(2) {
    background: #F87949;
    transform: rotateY(120deg) translateZ(35vw);
}

.icon-cards__item:nth-child(3) {
    background: #FBAB48;
    transform: rotateY(240deg) translateZ(35vw);
}

/* Carousel animation */
@keyframes carousel {
    0%,  17.5%  { transform: translateZ(-35vw) rotateY(0); }
    27.5%, 45%  { transform: translateZ(-35vw) rotateY(-120deg); }
    55%, 72.5%  { transform: translateZ(-35vw) rotateY(-240deg); }
    82.5%, 100% { transform: translateZ(-35vw) rotateY(-360deg); }
}

/* Checkbox styles */
.checkbox {
    position: relative;
    margin-top: 2rem;
    font-size: .9rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #F47956;
    transition: color .3s ease;
    user-select: none;
}

.checkbox:hover {
    color: #F7A95A;
}

.checkbox__checkbox {
    position: relative;
    top: 0;
    width: 1.0625rem;
    height: 1.0625rem;
    background: white;
    border: 1px solid currentColor;
    border-radius: 4px;
    vertical-align: middle;
    transition: background 0.1s ease;
    cursor: pointer;
}

.checkbox__checkbox::after {
    content: '';
    position: absolute;
    top: 1px;
    left: 5px;
    width: 5px;
    height: 11px;
    opacity: 0;
    transform: rotate(45deg) scale(0);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transition: all 0.3s ease;
    transition-delay: 0.15s;
}

.checkbox__label {
    margin-left: 5px;
    vertical-align: middle;
    cursor: pointer;
}

.checkbox > input:checked ~ .checkbox__checkbox {
    border-color: transparent;
    background: #F47956;
    animation: jelly 0.6s ease;
}

.checkbox > input:checked ~ .checkbox__checkbox::after {
    opacity: 1;
    transform: rotate(45deg) scale(1);
}

/* Jelly checkbox animation */
@keyframes jelly {
    from { transform: scale(1, 1); }
    30% { transform: scale(1.25, 0.75); }
    40% { transform: scale(0.75, 1.25); }
    50% { transform: scale(1.15, 0.85); }
    65% { transform: scale(0.95, 1.05); }
    75% { transform: scale(1.05, 0.95); }
    to { transform: scale(1, 1); }
}

/* Blob cursor styles */
#cursorBlob {
  width: 50px;
  height: 50px;
  background: linear-gradient(120deg, #FF1744, #E040FB, #2979FF, #00E5FF, #76FF03);
  background-size: 1600% 1600%;
  position: absolute;
  mix-blend-mode: difference;
  pointer-events: none;
  z-index: 1;
  transition: 0.3s linear;
  animation: blobRadius 5s ease infinite, blobBackground 15s ease infinite;
}

@keyframes blobRadius {
  0%, 100% {
    border-radius: 43% 77% 80% 40%/40% 40% 80% 80%;
  }
  20% {
    border-radius: 47% 73% 61% 59%/47% 75% 45% 73%;
  }
  40% {
    border-radius: 46% 74% 74% 46%/74% 58% 62% 46%;
  }
  60% {
    border-radius: 47% 73% 61% 59%/40% 40% 80% 80%;
  }
  80% {
    border-radius: 50% 70% 52% 68%/51% 61% 59% 69%;
  }
}
@keyframes blobBackground {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

/* Navigation */
.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #212121;
}

.nav {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: #fff;
  list-style: none;
  cursor: pointer;
  font-size: 5vw;
  font-family: "Montserrat", sans-serif;
  transition: 0.25s ease;
}

.nav__link:not(:last-child) {
  margin-bottom: 50px;
}

.nav__link:hover {
  transform: translateX(25px);
}
